html,
body {
  background: #FFF;
  font-family:OpenSansLight;
  padding:0px;
}

a:hover {
  text-decoration: none;
  color:#bcbcbc;
}
h1 {
  color: #41414c;
  margin-top: 0px;
  color: #eee;
}
h2 {
  color: #41414c;
  font-size: 1.25em;
  font-weight: normal;
}
h3 {
  color: #41414c;
  font-size: 1em;
  font-weight: bold;
}
h2 span.info {
  margin-top: -1em;
  font-size: .75em;
  display: block;
  font-weight: normal;
  color: #333;
}
hr {
  border-top: 1px solid #dddde2;
}

/*Buttons*/
.day.active {
  background-color: #f0f0f2;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f0f0f2));
  background-image: -webkit-linear-gradient(top, #fefefe, #f0f0f2);
  background-image: -o-linear-gradient(top, #fefefe, #f0f0f2);
  background-image: linear-gradient(to bottom, #fefefe, #f0f0f2);
  background-image: -moz-linear-gradient(top, #fefefe, #f0f0f2);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#fefefe', EndColorStr='#f0f0f2');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe',EndColorStr='#f0f0f2')";
}
.day.active:hover {
  background-color: #f0f0f2;
  *background-color: #f0f0f2;
}
.day.active.btn-link {
  background-color: transparent;
  background-image: none;
}
.fc-state-highlight {
  background: #bcbcbc; /*Today square on Month calendar & Today view*/
}
.fc-button.fc-state-active {
  border-color: #2485f3;
}
.fc-button-effect {
  display: none;
}

.fc-corner-left .fc-button-inner {
  background-color: #f0f0f2;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f0f0f2));
  background-image: -webkit-linear-gradient(top, #fefefe, #f0f0f2);
  background-image: -o-linear-gradient(top, #fefefe, #f0f0f2);
  background-image: linear-gradient(to bottom, #fefefe, #f0f0f2);
  background-image: -moz-linear-gradient(top, #fefefe, #f0f0f2);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#fefefe', EndColorStr='#f0f0f2');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe',EndColorStr='#f0f0f2')";
  color: #333;
}
.fc-corner-left .fc-button-inner:hover {
  background-color: #f0f0f2;
  *background-color: #f0f0f2;
}
.fc-corner-left .fc-button-inner.btn-link {
  background-color: transparent;
  background-image: none;
}
.fc-state-default .fc-button-inner {
  background-color: #f0f0f2;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f0f0f2));
  background-image: -webkit-linear-gradient(top, #fefefe, #f0f0f2);
  background-image: -o-linear-gradient(top, #fefefe, #f0f0f2);
  background-image: linear-gradient(to bottom, #fefefe, #f0f0f2);
  background-image: -moz-linear-gradient(top, #fefefe, #f0f0f2);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#fefefe', EndColorStr='#f0f0f2');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe',EndColorStr='#f0f0f2')";
}
.fc-state-default .fc-button-inner:hover {
  background-color: #f0f0f2;
  *background-color: #f0f0f2;
}
.fc-state-default .fc-button-inner.btn-link {
  background-color: transparent;
  background-image: none;
}
.fc-state-active .fc-button-inner {
  background-color: #54a0f6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#84bbf9), to(#54a0f6));
  background-image: -webkit-linear-gradient(top, #84bbf9, #54a0f6);
  background-image: -o-linear-gradient(top, #84bbf9, #54a0f6);
  background-image: linear-gradient(to bottom, #84bbf9, #54a0f6);
  background-image: -moz-linear-gradient(top, #84bbf9, #54a0f6);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#fefefe', EndColorStr='#f0f0f2');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#84bbf9',EndColorStr='#54a0f6')";
  color: #fff;
  border-color: #2485f3;
  -webkit-box-shadow: inset 0px 1px 0px #b5d6fb;
  -moz-box-shadow: inset 0px 1px 0px #b5d6fb;
  box-shadow: inset 0px 1px 0px #b5d6fb;
}
.fc-state-active .fc-button-inner:hover {
  background-color: #54a0f6;
  *background-color: #54a0f6;
}
.fc-state-active .fc-button-inner.btn-link {
  background-color: transparent;
  background-image: none;
}

/*-------Login--------*/
#logo-login {
    position:relative;
    top:130px;
    width:150px;
    height:96px;
}
.row-fluid { /*sets width of entire page*/
    padding:25px 0px;
    margin:0px auto;
    width:725px !important;
}
.brand { /*title*/
    font-size: 63px;
    font-family:OpenSansExtraBold !important;
    padding:0px 0px 0px 231px;
    margin:10px 0px 15px 0px !important;
    border-bottom:1px solid #dddde2;
}
.subTitle {
    position:relative;
    top:-38px;
    margin-left:5px;
    font-family:OpenSansLight; 
    font-size:43%;
}
#username, #password, #login {
    font-size:18px;
    position:relative;
}
#username {
    top:8px;
}
#password {
    top:38px;
}
#login { /*button*/
    width:103px;
    height:45px;
    top:80px;
    left:618px;
    background-color:#184f2c;
    font-family:OpenSansLight;
    color:#fff;

    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.span12 {
    float:right;
    width:580px;
    height:35px;
    margin-bottom:15px;
    padding-left:8px;
    background-color:#FAFFBD;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}


/*-------Header-------*/
#header {
    height:120px;
    border-bottom:1px solid #dddde2;
}

#SiteTitle {
    font-size:14px;
    position:relative;
    left:285px;
    bottom:30px;
    width:300px;
}

#LogInfo {
    font-size:14px;
    float:right;
    position:relative;
    bottom:50px;
    margin-right:18px;
}

#Logo {
    width:190px;
    height:90px;
    padding:30px 0px 0px 75px; 
    border-right:1px solid #dddde2;
}
/*------End Header-----*/

/*------Month & Year Titles-----*/
span.month {
        font-family:OpenSansExtrabold;
        font-size:100px;
        color:#184f2c;
        padding:0px 0px 0px 12px;
    }
span.day {
        font-family:OpenSansExtrabold;
        font-size:100px;
        color:#184f2c;
        width:246px;
        text-align:right;
        display:block;
        float:left;
        margin-right:16px;
}
span.year {
        font-size:100px;
        width:246px;
        text-align:right;
        display:block;
        float:left;
}
.fc-header-center {
    text-align:left !important;
    position:relative;
}
.fc-header-title h2 {
    font-size:100px;
    color:#bcbcbc;
    margin-bottom:10px;
}
/*---End Month & Year Titles---*/

/*---Navigation---*/
#main-menu {
    float:right;
    position:relative;
    left:222px;
    font-size:32px;
    color:#e1a358;
    cursor:pointer;
    height:86px;
    margin:50px 25px -136px 0px;
}
#main-menu i.icon-plus {
    float:left;
    height:25px;
    font-style:normal;
    padding:20px 10px;
}

.fc-header-left .fc-button-next { /*finger images*/
    background: url("images/right-finger.png") no-repeat center !important;
}
.fc-header-left .fc-button-prev {
    background:url("images/left-finger.png") no-repeat center !important;
    margin-left:10px;
}
.fc-text-arrow {
    display:none;
}
.fc-header-left { 
    width:150px !important;
    position:absolute;
    margin-top:187px; /*Pushes fingers, today, month down*/
    margin-left:103px;
}
.fc-header-left .fc-button-next,
.fc-header-left .fc-button-prev {
    width:62px;
    height:35px;
}


.fc-header-left span.fc-button-today,
    .fc-header-left span.fc-button-month {
        display:block;
        width:128px;
        float:none;
        text-align:right;
    }

.fc-button-today, .fc-button-month {
    height:40px;
    display:block;
    padding-top:20px !important;
    line-height:normal !important;
    font-size:32px;
    cursor:pointer;
}
.fc-header .fc-button {
    margin-bottom: 0px;
    padding:0px;
}
/*--End Navigation--*/
	
/*--Calendar & Items--*/
#calendar {
    padding:0px 15px 0px 0px;
}
#calendar div.fc-grid {
        background-image:url("images/backimg2.jpg");
        background-size:cover;
        background-repeat:no-repeat;
}
#calendar div.fc-grid table thead { /*Gridline*/
        background-color:#FFF;
        border:none;
}
#calendar div.fc-grid table thead th { /*Weekdays positioning*/
        border:none;
        text-align:left;
        color:#41414c;
        padding:13px 0px 8px;
}
.fc-day-number {
    color:#fff;
    text-shadow:0px 0px 10px rgba(55,55,55, 0.7);
    font-family:Arial;
    font-weight:600;
}
.fc-grid .fc-day-number {
    float:none !important;
}
.fc-event {
    background-color:#184f2c !important;
}
/*--End Calendar & Items--*/

/*--Today Scheduler & Items--*/
#calendar div.fc-agenda {
    margin-left:5px;
    margin-top:20px;
}
#calendar div.fc-agenda thead {
    visibility:hidden;
}
.fc-agenda-allday {
    background-color:#333;
    height:65px;
    font-variant:small-caps;
    color:#fff;
}
.fc-agenda-divider {
     /*Hides redundant Date row in Today Scheduler*/
}
.fc-event-vert { /*Resizes event box on Today View to extend full width*/
    left:92px !important;
}
div.fc-view-agendaDay .fc-event-time, div.fc-view-agendaDay .fc-event-title { /*Pushes event box text ONLY on Today Schedular -- genius :) */
    padding:0px 0px 0px 10px;
}
/*--End Today Scheduler & Items--*/

/*--Jquery Ui Widget Fixes--*/
.ui-widget {
    font-family:OpenSansLight !important;
}
.ui-widget-header {
    border: none !important;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family:OpenSansLight !important;
    font-size:12px !important;
    font-weight:normal;
}
.ui-corner-all {
    border-bottom-right-radius:0px !important;
    border-bottom-left-radius:0px !important;
    border-top-right-radius:0px !important;
    border-top-left-radius:0px !important;
}
.ui-dialog {
    padding: 0px !important;
}
.ui-dialog-title {
        text-align:left !important;
    }
    .ui-dialog-buttonset {
        float: none !important;
        text-align:right !important;
    }
.ui-dialog-titlebar {
    border:none !important;
}
.alert-info strong{
    color:#e1a358;
    margin-right:10px;
}
.ui-datepicker {
    padding:0px !important;
}
.ui-timepicker-div {
    padding: 0px 8px;
}
/*--End Jquery Ui Widget Fixes--*/

    .waiting {
        cursor: wait !important;
    }

    .loading {
        cursor: progress !important;
    }

    .modal-body { height: 300px; max-height: 500px; }

    #error {
        padding-top:20px;
    }
    .date_span {
        width: 255px;
    }

    i.event {
    }

    .fc-widget-content {
        cursor: pointer !important;
    }
    i.icon-info-sign {
        position:absolute;
        right:0px;
        top:0px;
        z-index:999999999999;
    }
    
    
    .delete {
        background:linear-gradient(180deg, #C40000, #8C0000) !important;
        color:#FFF !important;
        float:left !important;
    }

    
    .create, 
    .update {
        background:linear-gradient(180deg, #058C00, #035C00) !important;
        color:#FFF !important;
    }
    form,
    .form-horizontal .control-group {
        /*margin:0px !important;*/
    }

    progress {
        text-align: center !important;
    }
    
    .fc-header-left span.fc-header-space {
        display:none;
    }
    .fc-header-left span.fc-state-down, 
    .fc-header-left span.fc-state-active,
    .fc-header-left span.fc-state-disabled,
    .fc-header-left span.fc-state-default,
    .fc-header-left span.fc-state-hover {
        box-shadow:none;
        border:none;
        background-color:transparent;
        background:none;
    }
.fc-state-disabled,
.fc-button-month.fc-state-active {
    cursor:default;
}
.fc-button-today.fc-state-disabled {
    color: #e1a358 !important;
}
.fc-content {
    margin-left:265px;
}
