
body {
  margin: 0px;
  padding: 0px;
  background: #FFF;
  color: #333;
}

a:hover {
  text-decoration: none;
}
h1 {
  color: #41414c;
  margin-top: 0px;
  color: #eee;
}
h2 {
  color: #41414c;
  font-size: 1.25em;
  font-weight: normal;
}
h3 {
  color: #41414c;
  font-size: 1em;
  font-weight: bold;
}
h2 span.info {
  margin-top: -1em;
  font-size: .75em;
  display: block;
  font-weight: normal;
  color: #333;
}
hr {
  border-top: 1px solid #dddde2;
}

/*Buttons*/
.day.active {
  background-color: #f0f0f2;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f0f0f2));
  background-image: -webkit-linear-gradient(top, #fefefe, #f0f0f2);
  background-image: -o-linear-gradient(top, #fefefe, #f0f0f2);
  background-image: linear-gradient(to bottom, #fefefe, #f0f0f2);
  background-image: -moz-linear-gradient(top, #fefefe, #f0f0f2);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#fefefe', EndColorStr='#f0f0f2');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe',EndColorStr='#f0f0f2')";
}
.day.active:hover {
  background-color: #f0f0f2;
  *background-color: #f0f0f2;
}
.day.active.btn-link {
  background-color: transparent;
  background-image: none;
}
.fc-state-highlight {
  background: #ebebee;
}
.fc-button.fc-state-active {
  border-color: #2485f3;
}
.fc-button-effect {
  display: none;
}
.fc-corner-left .fc-button-inner {
  background-color: #f0f0f2;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f0f0f2));
  background-image: -webkit-linear-gradient(top, #fefefe, #f0f0f2);
  background-image: -o-linear-gradient(top, #fefefe, #f0f0f2);
  background-image: linear-gradient(to bottom, #fefefe, #f0f0f2);
  background-image: -moz-linear-gradient(top, #fefefe, #f0f0f2);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#fefefe', EndColorStr='#f0f0f2');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe',EndColorStr='#f0f0f2')";
  color: #333;
}
.fc-corner-left .fc-button-inner:hover {
  background-color: #f0f0f2;
  *background-color: #f0f0f2;
}
.fc-corner-left .fc-button-inner.btn-link {
  background-color: transparent;
  background-image: none;
}
.fc-state-default .fc-button-inner {
  background-color: #f0f0f2;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f0f0f2));
  background-image: -webkit-linear-gradient(top, #fefefe, #f0f0f2);
  background-image: -o-linear-gradient(top, #fefefe, #f0f0f2);
  background-image: linear-gradient(to bottom, #fefefe, #f0f0f2);
  background-image: -moz-linear-gradient(top, #fefefe, #f0f0f2);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#fefefe', EndColorStr='#f0f0f2');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe',EndColorStr='#f0f0f2')";
}
.fc-state-default .fc-button-inner:hover {
  background-color: #f0f0f2;
  *background-color: #f0f0f2;
}
.fc-state-default .fc-button-inner.btn-link {
  background-color: transparent;
  background-image: none;
}
.fc-state-active .fc-button-inner {
  background-color: #54a0f6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#84bbf9), to(#54a0f6));
  background-image: -webkit-linear-gradient(top, #84bbf9, #54a0f6);
  background-image: -o-linear-gradient(top, #84bbf9, #54a0f6);
  background-image: linear-gradient(to bottom, #84bbf9, #54a0f6);
  background-image: -moz-linear-gradient(top, #84bbf9, #54a0f6);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#fefefe', EndColorStr='#f0f0f2');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#84bbf9',EndColorStr='#54a0f6')";
  color: #fff;
  border-color: #2485f3;
  -webkit-box-shadow: inset 0px 1px 0px #b5d6fb;
  -moz-box-shadow: inset 0px 1px 0px #b5d6fb;
  box-shadow: inset 0px 1px 0px #b5d6fb;
}
.fc-state-active .fc-button-inner:hover {
  background-color: #54a0f6;
  *background-color: #54a0f6;
}
.fc-state-active .fc-button-inner.btn-link {
  background-color: transparent;
  background-image: none;
}



	#calendar {
		width: 100%;
		margin: 0 auto;
    }

    .waiting {
        cursor: wait !important;
    }

    .loading {
        cursor: progress !important;
    }

    .modal-body { height: 300px; max-height: 500px; }

    #error {
        padding-top:20px;
    }
    .date_span {
        width: 255px;
    }

    i.event {
    }

    .fc-widget-content {
        cursor: pointer !important;
    }
    i.icon-info-sign {
        position:absolute;
        right:0px;
        top:0px;
        z-index:999999999999;
    }
    
    .ui-dialog-title {
        text-align:left !important;
    }
    .ui-dialog-buttonset {
        float: none !important;
        text-align:right !important;
    }
    .delete {
        background:linear-gradient(180deg, #C40000, #8C0000) !important;
        color:#FFF !important;
        float:left !important;
    }

    span.month {
        font-size:100px;
    }
    .create, 
    .update {
        background:linear-gradient(180deg, #058C00, #035C00) !important;
        color:#FFF !important;
    }
    form,
    .form-horizontal .control-group {
        margin:0px !important;
    }

    progress {
        text-align: center !important;
    }
    #calendar div.fc-grid {
        background-image:url("http://images.anandtech.com/reviews/tablets/apple/ipad4/DSC_2058.jpg");
        background-size:cover;
        background-repeat:no-repeat;
    }
    #calendar div.fc-grid table thead {
        background-color:#FFF;
        border:none;
    }
    #calendar div.fc-grid table thead th {
        border:none;
        text-align:left;
    }
    .fc-header-left {
        position:absolute;
        left:0px;
        margin-top:150px;
    }
    .fc-header-left span.fc-button-today,
    .fc-header-left span.fc-button-month {
        display:block;
        width:120px;
        float:none;
        text-align:right;
    }
    .fc-header-left span.fc-button-prev {
        margin-left:55px;
    }
    .fc-header-left span.fc-header-space {
        display:none;
    }
    .fc-header-left span.fc-state-down, 
    .fc-header-left span.fc-state-active,
    .fc-header-left span.fc-state-disabled,
    .fc-header-left span.fc-state-default,
    .fc-header-left span.fc-state-hover {
        box-shadow:none;
        border:none;
        background-color:transparent;
        background:none;
    }
    .fc-header-left span.fc-state-disabled {
    }

    .fc-header-left span.fc-state-down,
    .fc-header-left span.fc-state-active {

    }
    .fc-content {
        margin-left:150px;
    }