@model AdobeScheduler.Models.ViewObject
@{
    ViewBag.Title = "Dashboard";
    
}
<script>
    var view = $('#calendar').fullCalendar('getView');
    console.log("view", view);
</script>
<div id="main-menu">
        <a id="reserve_room"><i class="icon-plus">+</i> <span>RESERVE<br />ROOM</span></a>
        <div id="task"></div>
</div>
 
<div id="addAppointment">
    <form id="modal-form" class="form-horizontal" accept-charset="UTF-8"  data-remote="true" >
        <fieldset>
            <div class="control-group">
                <label class="control-label">Select Your Room:</label>
                <div class="controls">
                    <select id="class" width="300" style="width: 300px">
                    @if(Model.Session.MyMeetings != null){
                        foreach( AdobeConnectSDK.MeetingItem myMeetingItem in Model.Session.MyMeetings)
                        {
                            <option data-path="@myMeetingItem.url_path" data-url="@myMeetingItem.FullUrl">@myMeetingItem.meeting_name</option>
                        }
                    }else{
                        <option>You have no Class Rooms Assigned</option>
                    }
                    </select>
                </div>
                <hr />
                <label class="control-label">Select a Date And Time:</label>
                <div class="controls">
                    <input type="text" class="date_span" id="datetime"  />
                </div>
                <label class="control-label">Event Repetition:</label>
                <div class="controls">
                    <select id="repitition" style="width: 80px">
                        <option value="None" selected>None</option>
                        <option value="weekly">Weekly</option>
                        <option value="biweekly">Biweekly</option>
                        <option value="monthly">Monthly</option>
                    </select>
                    <input type="text" class="date_span" id="repitition_date" />
                </div>
                <hr />
                <label class="control-label">Duration (in Min):</label>
                <div class="controls">
                    <select id="duration"style="width: 60px">
                        <option>30</option>
                        <option selected>60</option>
                        <option>90</option>
                    </select>
                </div>
                <hr />
                <label class="control-label">Number of Occupants:</label>
                 <div class="controls">
                    <input id="occupants" type="text" value="50"class="numbersOnly input-mini" />
                </div>
                <div id="error"></div>
                 
        </fieldset>
    </form>
</div>

<div id="busy1" class="square"></div>
<div id="calendar"></div>

